  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


:root{
    background-color: aliceblue;
    --light-red: hsl(0, 100%, 67%);
    --Orange-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* ========== Gradient =============== */

    --Light-slate-blue : hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue : hsla(256, 72%, 46%, 1);
    --Persian-blue : hsla(241, 72%, 46%, 0);

    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}



/* ========== Main ===========*/

.container{
    height: 380px;
    display: flex;
    justify-content: center;
    width: 550px;
    border-radius: 25px;
    background: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ======== Left Section ========== */

.leftsection{
    text-align: center;
    justify-content: center;
    background-color:var(--Light-slate-blue);
    border-radius: 25px;
    padding: 20px;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 275px;
    color: white;
}

.lefttitle{
    color: var(--Light-lavender);
    font-weight: 500;
    margin: 15px;
}

.midleft{
    justify-content: center;
    display: flex;
    margin: 25px;
}

.circle_container{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(var(--Violet-blue),var(--Persian-blue));
    display: flex;
    justify-content: center;
}
.scoretext{
    border-radius: 50%;
    text-align: center;
    width: 100px;
   margin-top: 30px;
   margin-bottom: 25px;
}
.scoreheader{
    font-family: 'Hanken Grotesk', sans-serif;;
    font-weight: 800;
    font-size: 50px;
}
.scoresubtext{
    font-family: 'Hanken Grotesk', sans-serif;;
    font-weight: 500;
   color: var(--Light-lavender);
}

.second_title{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
}
.para{
    color: var(--Light-lavender);
    margin-top: 10px;
    margin-bottom: 10px;
}



/* ======== Right Section ========== */


.rightsection{
    justify-content: center;
    padding: 20px;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 275px;
}

.right_title{
    text-align: left;
    font-weight: 700;
    margin-top:  15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}


.score_container{
padding:10px;

height: 30px;
}

img{
    margin-top: 4px;
}

.reaction{
    color: var(--light-red);
    text-align: center;
    border-radius: 5px;
    background-color: #fff6f5;
    display: flex;
    height: 25px;
    padding: 5px 10px;
    justify-content: space-between;
}

.visual{
    color: var(--Cobalt-blue);
    text-align: center;
    background-color: #f3f3fd;
    display: flex;
    border-radius: 5px;
    height: 25px;
    padding: 5px 10px;
    justify-content: space-between;

}

.memory{
    color: var(--Orange-yellow);
    text-align: center;
    background-color: #fffbf2;
    display: flex;
    border-radius: 5px;
    height: 25px;
    padding: 5px 10px;
    justify-content: space-between;

}

.verbal{
    color: var(--Green-teal);
    text-align: center;
    background-color: #f2fbfa;
    display: flex;
    border-radius: 5px;
    height: 25px;
    padding: 5px 10px;
    justify-content: space-between;

}

.score1{
color: black;
margin-left: 35px;
}

.score2{
    color: black;
    margin-left: 50px;
    }

.maxscore{
    color:hsla(224, 30%, 27%, .5);
    
}


.button{
    width:220px;
    border-radius: 20px;
    background-color: var(--Dark-gray-blue);
    text-align: center;
    font-family: 'Hanken Grotesk', sans-serif;
    height: 35px;
    justify-content: center;
    color: white;
    display: flex;
}

.button_container{
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    height: 35px;
    text-align: center;
}

.buttontext{
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 12px;
}